{% extends 'base.html' %}
{% block content %}



<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4">
            {% for service_item in service %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3" style="height: 300px; overflow: hidden;"> 
                    <div class="p-4 pb-0"> 
                        <img src="{{ service_item.icon.url }}" alt="{{ service_item.name }}"  style="max-height: 100px;" >
                        <h5>{{ service_item.name }}</h5>
                        <p>{{ service_item.body }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
        </div>
        <div class="row g-4">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->



{% endblock %}